@define-color red #C34043;
@define-color green #76946A;
@define-color yellow #C0A36E;
@define-color blue #7E9CD8;
@define-color purple #957FB8;
@define-color dark-green #6A9589;
@define-color gold #C8C093;
@define-color red-br  #E82424;
@define-color green-br #98BB6C;
@define-color yellow-br #E6C384;
@define-color blue-br #7FB4CA;
@define-color purple-br #938AA9;
@define-color dark-green-br #7AA89F;
@define-color gold-br #DCD7BA;
@define-color orange #FFA066;
